<li>
  <p><%= admnote.username %>   <%= date_uk(admnote.created_at) %> </p>
 <p><%= admnote.text %></p>
 <% if admnote.updated? %>
  <p>Updated: <%= admnote.updated_at %> </p>
<% end %>
<%= link_to 'Edit', edit_admnote_path(admnote) %> |
<%= link_to 'Admission', admission_path(@admission) %> |
</li>
