<h1>Edit admission note</h1>

<% form_for(@admnote) do |f| %>
  
  <%= f.error_messages %>
  <p>
  TODO: fill with username
  <b>Author:</b>
  <%=h @admnote.username %>
  </p>


  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Admission notes', admission_admnotes_path (@admission) %> |
