  <%= f.error_messages %>
  <p>
    <%= f.label :dose %><br />
    <%= f.collection_select(:dose_id, @prescription.product.doses, :id, :frequency_description  ) %>
  </p>
  <p>
    <%= f.label :ancillary_instructions %><br />
    <%= f.text_area :ancillary_instructions %>
    </p>
    
    <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>

  <%= f.hidden_field :product_id %>

