<% form_for @store do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :ext %><br />
    <%= f.text_field :ext %>
  </p>
  <p>
    <%= f.label :ward_id %><br />
    <%= f.text_field :ward_id %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
