
<% form_for @store do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :ext %><br />
    <%= f.text_field :ext %>
  </p>
  <p>
    <%= f.label :ward_id %><br />
    <% if @store.ward.to_s != "" %>
    <%= f.collection_select(:ward_id, Ward.all, :id, :name, { :selected => @store.ward.id })%>
  <% else %>
    <%= f.collection_select(:ward_id, Ward.all, :id, :name)%>
  <% end %>
    </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<%   end  %>

