<% title(@ward.name + " store") %>

<table>
      <tr>
    <th>Product</th>
    <th>Level</th>
    <th>Order Quantity</th>
    <th>Order Level</th>
    <th>On Order</th>
    <th>New level</th>
  </tr>
<%= render :partial => "product_stores/product_store", :collection => @product_stores %>
  </table>
  <strong>Ward:</strong>
  <%=h @ward.name %>
  <strong>Ext:</strong>
  <%=h @store.ext %>
<p>
  <%= link_to "Edit", edit_store_path(@store) %> |
  <%#= link_to "Destroy", @store, :confirm => 'Are you sure?', :method => :delete %> 
  <%= link_to "New Store Order", new_store_order_path(:store_id =>@store.id) %> |
  <%= link_to "Orders", store_store_orders_path(@store) %> |
</p>
