<% title "Edit Store Order" %>

<p>
  <strong>Created by:</strong>
  <%=h initials_name(@store_order.user) %> at 
  <%=h @store_order.created_at.to_s %>
</p> 
  <table>
    <%= render :partial => "store_order_lines/store_order_line", :collection => @store_order.store_order_lines %>
  </table>
<%= render :partial => 'form' %>
<p>
  <%= link_to "Show", @store_order %> |
  <%= link_to "View All", store_orders_path %>
</p>
