<%#= debug params %>
<table>
  <tr>
      <th>Ward</th>
      <th>Bed</th>
    <th>PHN</th>
    <th>Firstname</th>
    <th>Middlename</th>
    <th>Surname</th>
    <th>Dob</th>
    <th>Allergies</th>
    <th>Sensitivities</th>
    <th>Admitted</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><% if patient.current_ward %>
      <%= patient.current_ward.name %>
    <% else %>
      <%= "" %>
    <% end %></td>
    <td><% if patient.inpatient? %>
      <%=h patient.bed.bed_number %>
      <% else %>
        <%=h "n/a"  %></td>
    <%  end  %>
    <td><%=h patient.phn %></td>
    <td><%=h patient.firstname %></td>
    <td><%=h patient.middlename %></td>
    <td><%=h patient.surname %></td>
    <td><%=h patient.dob %></td>
    <td><%=h patient.allergies %></td>
    <td><%=h patient.sensitivities %></td>
    <td><% if patient.current_ward %>
      <%= patient.admissions.current.first.admdate %>
    <% else %>
      <%= "n/a" %>
    <% end %></td>
<td><%= link_to 'Show', patient %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Wards', wards_path %>



