<%= debug params %>
<div class="toolbar"> <!-- iPhone - iUI -->
  <h1 id="pageTitle"></h1>
  <a id="backButton" class="button" href="#"></a>
</div>
<p>
  <b>PHN:</b>
  <%=h @patient.phn %>
  <b>Date of birth:</b>
  <%=h @patient.dob.to_formatted_s(:rfc822) %>
</p>
<p>
  <b>Name:</b>
  <%=h @patient.fullname %>
</p>


<% if @patient.has_allergies? %>
<p>
  <b>Allergies:</b>
  <%=h @patient.allergies %>
</p>
<% end %>

<% if @patient.has_sensitivities? %>
<p>
  <b>Sensitivities:</b>
  <%=h @patient.sensitivities %>
</p>
<% end %>
    <%= link_to 'Edit', edit_patient_path(patient) %>


