<%= debug params %>
<p>
  <b>First name:</b>
  <%=h @patient.firstname %>
</p>

<p>
  <b>Middle name:</b>
  <%=h @patient.middlename %>
</p>

<p>
  <b>Surname:</b>
  <%=h @patient.surname %>
</p>

<p>
  <b>Date of birth:</b>
  <%=h @patient.dob %>
</p>

<p>
  <b>Allergies:</b>
  <%=h @patient.allergies %>
</p>

<p>
  <b>Sensitivities:</b>
  <%=h @patient.sensitivities %>
</p>




<!-- RF: TODO only render previous admission (i.e. not current)-->
<% unless @admissions.size.zero? %> 
  <div class="Previous admissions">
<p>
  <b>Previous admissions:</b>
    <% for admission in @admissions %>
      <% unless admission.depdate > DateTime.now %>
      <li><%= link_to h(admission.primaryindication.to_s + " : " + admission.admdate.to_s), admission %></li>
      <% end %>
    <% end %>
</p>

  </div>
<% end %>

<p>
  <b>Current admission:</b>
  TODO: need to test @admissions for an admission with admndate < now and depdate > now (in model)
  <%= render :partial => @admission %>
<p><%= link_to 'New admission', new_patient_admission_path(@patient) %></p>

</p>

