<%= debug params %>

<p>
  <b>Name:</b>
  <%=h @patient.fullname %>
</p>

<p>
  <b>Date of birth:</b>
  <%=h @patient.dob.to_formatted_s(:long_ordinal) %>
</p>

<% if @patient.has_allergies? %>
<p>
  <b>Allergies:</b>
  <%=h @patient.allergies %>
</p>
<% end %>

<% if @patient.has_allergies? %>
<p>
  <b>Sensitivities:</b>
  <%=h @patient.sensitivities %>
</p>

<% end %>



<% unless @admissions.size.zero? || true %> <!-- rf TURNED OFF -->
  <div class="Previous admissions">
<p>
  <b>Previous admissions:</b>
    <% for admission in @admissions %>
      <% unless admission.depdate > DateTime.now %>
      <li><%= link_to h(admission.primaryindication.to_s + " : " + admission.admdate.to_s), admission %></li>
      <% end %>
    <% end %>
</p>

  </div>
<% end %>

<% if @patient.inpatient? %>
<p>
  <b>Current admission</b>
  <%= render :partial => @admission %>

<% end %>
  <%= link_to 'New admission', new_patient_admission_path(@patient) %>


