
<%= render :partial => @patient %>
<% if !@patient.has_admissions? %>
  <%= link_to 'New admission',new_patient_admission_path(@patient) %>
<% else %>
<% if @patient.inpatient? %>
  <p>
  <b>Current admission</b>
    <%= render :partial => @admission %>
  </p>
  <%= link_to 'Admissions', patient_admissions_path(@patient) %> |
<% if @patient.has_currentnotes? %>
  <%= link_to 'Notes', admission_admnotes_path(@admission) %> |
<% else %>
  <%# if @patient.admnotes.size > 0 %>
<% end %>
  <%= link_to 'New note', new_admission_admnote_path(@admission) %> |
  <% end %>
<% end %>
<%= link_to 'Ward', patients_path %>

    <%= link_to 'All notes', admonotes_path(@patient.admnotes) %>

