<% title @patient.surname %>
<%= debug params %>

<p>
  <b>PHN:</b>
  <%=h @patient.phn %>
  <b>Date of birth:</b>
  <%=h @patient.dob.to_formatted_s(:rfc822) %>
</p>
<p>
  <b>Name:</b>
  <%=h @patient.fullname %>
</p>


<% if @patient.has_allergies? %>
<p>
  <b>Allergies:</b>
  <%=h @patient.allergies %>
</p>
<% end %>

<% if @patient.has_sensitivities? %>
<p>
  <b>Sensitivities:</b>
  <%=h @patient.sensitivities %>
</p>
<% end %>
    <%= link_to 'Edit', edit_patient_path(@patient) %>
<% if !@patient.has_admissions? %>
  <%= link_to 'New admission',new_patient_admission_path(@patient) %>
<% else %>
<% if @patient.inpatient? %>
  <p>
  <b>Current admission</b>
    <%= render :partial => @admission %>
  </p>
  <%= link_to 'Admissions', patient_admissions_path(@patient) %> |
<% if @patient.has_currentnotes? %>
  <%= link_to 'Notes', admission_admnotes_path(@admission) %> |
<% else %>
  <%# if @patient.admnotes.size > 0 %>
<% end %>
  <%= link_to 'New note', new_admission_admnote_path(@admission) %> |
  <% end %>
<% end %>
<% unless !@ward %>
<%= link_to 'Ward', ward_patients_path(@ward) %> |
<% end %>

  <%= link_to 'New prescription', patient_products_path(@patient) %> |
  <%= link_to 'Prescriptions', patient_prescriptions_path(@patient) %> 
  <%  unless @patient.failed_policies.empty?  %>
    <p>
    <strong>Failed policy checks </strong>
    <%  for policy in @patient.failed_policies  %>
      <br> <%= policy[:product].description %>:</br>
      <% for check in policy[:checks]  %>
        <br>
        <%= check.description  %>
        </br>
      <%  end  %>
    <%  end  %>
  <%  end  %>
  </p>
    
  <%#= link_to 'Prescriptions', :controller => 'prescriptions', :action => 'index', :patient_id => @patient.id %> 
<%#= link_to 'All patients', patients_path %>

    <%#= link_to 'All notes', admnotes_path(@patient) %>

