
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :specialty %><br />
    <%= f.text_field :specialty %>
  </p>
  <%= f.label :pharmacist %>
  <% if @ward.pharmacist.to_s != "" %>
    <%= f.collection_select(:pharmacist_id, Pharmacist.all, :id, :firstname, { :selected => @ward.pharmacist.id })%>
  <% else %>
    <%= f.collection_select(:pharmacist_id, Pharmacist.all, :id, :firstname)%>
  <% end %>

  <p>
    <%= f.label :nurse %><br />
    <%= f.text_field :nurse %>
  </p>
  <p>
    <%= f.label :ward_notes %><br />
    <%= f.text_area :ward_notes %>
  </p>
