

<fieldset>
  <div class="row">
  <label for="title">Name</label>
    <%= f.text_field :name %>
  </div>
  <div class="row">
  <label for="title">Specialty</label>
    <%= f.text_field :specialty %>
  </div>
  </fieldset>
  <label for="title">Pharmacist</label>
    <%= f.collection_select :pharmacist_id, Pharmacist.all, :id, :firstname %>
    <fieldset>
  <div class="row">
  <label for="title">Nurse</label>
    <%= f.text_field :nurse %>
  </div>
  </fieldset>
  <div class="row">
  <label for="title">Ward notes</label>
    <%= f.text_area :ward_notes %>
  </div>
