<h1>Editing ward</h1>

<% form_for(@ward) do |f| %>
  <%= f.error_messages %>
<%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>

  <%  if current_user.admin? %>
<%= link_to 'Destroy', @ward, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<% end %>
<%= link_to 'Back', wards_path %> 
