<h1>Listing wards</h1>
<%#= debug session %> 
<table>
  <td>
<% @wards.each do |ward| %>
   <%=h ward.name + ", " + ward.specialty %><br />
  <%=h "Pharmacist: " + ward.pharmacist.firstname %><br />
    <%=h "Nurse in charge: " + ward.nurse %><br />
    <%=h ward.ward_notes %><br />
    <%= link_to 'Show', ward %><br />
  <br />

<% end %>
  </td>
</table>

<br />

<%= link_to 'New ward', new_ward_path %>
<%= link_to 'All patients', patients_path %>
<%= link_to 'Discharges', discharges_path %>
