<% title @ward.name %>
<p>
  <b>Name:</b>
  <%=h @ward.name %>
</p>

<p>
  <b>Specialty:</b>
  <%=h @ward.specialty %>
</p>

<p>
  <b>Pharmacist:</b>
  <%=h @ward.pharmacist.firstname %>
</p>

<p>
  <b>Nurse:</b>
  <%=h @ward.nurse %>
</p>

<p>
  <b>Ward notes:</b>
  <%=h @ward.ward_notes %>
</p>

<%  unless @ward.store.orders.empty?  %>
  <p> <strong>Recent ward orders </strong>
<%= render :partial => "store_orders/order", :collection => @ward.store.orders %>
<%  end  %>
</p>
<%= link_to 'Patients', ward_patients_path(@ward) %> |
<%#= link_to 'Patients', ward_patients_path(@ward) %> |
<%# want to use @ward.admissions.current(:include => :patients) to render index somehow?%>
<%= link_to 'Edit', edit_ward_path(@ward) %> |
<%= link_to 'Back', wards_path %>

