<% title @ward.name %>
<p>
  <b>Name:</b>
  <%=h @ward.name %>
</p>

<p>
  <b>Beds:</b>
  <%=h @ward.beds.size%>
</p>
<p>
  <b>Specialty:</b>
  <%=h @ward.specialty %>
</p>

<p>
  <b>Pharmacist:</b>
  <%=h @ward.pharmacist.firstname %>
</p>

<p>
  <b>Nurse:</b>
  <%=h @ward.nurse %>
</p>

<p>
  <b>Ward notes:</b>
  <%=h @ward.ward_notes %>
</p>

<%  unless @ward.store.store_orders.empty?  %>
  <p> <strong>Recent ward orders </strong>
<%= render :partial => "store_orders/store_order", :collection => @ward.store.recent_store_orders %>
<%  end  %>
</p>
<%= link_to 'Patients', ward_patients_path(@ward) %> |
<%#= link_to 'Patients', ward_patients_path(@ward) %> |
<%= link_to 'Store', ward_store_path(@ward) %> |
<%= link_to 'Edit', edit_ward_path(@ward) %> |
<%= link_to 'Back', wards_path %>

