<p>
    <%= f.label :admdate %><br />
    <%= f.datetime_select :admdate, :start_year => (Date.today.year - 1), :end_year => (Date.today.year + 3) %>
  </p>
  </p>
  <p>
    <%= f.label :bed %><br />
     <% if @admission.bed_id.size != 1 %>
    <%= f.select :bed_id, option_groups_from_collection_for_select(Ward.all, :beds, :name, :id, :bed_number, nil) %>
  <% else %>
    <%= f.select :bed_id, option_groups_from_collection_for_select(Ward.all, :beds, :name, :id, :bed_number, Bed.find(@admission.bed_id).id) %>
  <% end %>
 </p>
  <p> Todo: set depdate to admdate
    <%= f.label :depdate %><br />
    <%= f.datetime_select :depdate, :start_year => (Date.today.year - 1), :end_year => (Date.today.year + 3)  %>
  </p>
  <p>
    <%= f.label :primaryindication %><br />
    <%= f.text_field :primaryindication %>
  </p>
  <p>
    <%= f.label :clinicalsummary %><br />
    <%= f.text_area :clinicalsummary %>
  </p>
