<h1>Editing admission</h1>

<% form_for(@admission) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :patient_id %><br />
    <%= f.text_field :patient_id %>
  </p>
  <p>
    <%= f.label :admdate %><br />
    <%= f.datetime_select :admdate, :start_year => 2009 %>
  </p>
  <p>
    <%= f.label :ward %><br />
    <%= f.text_field :ward %>
  </p>
  <p>
    <%= f.label :bed %><br />
    <%= f.text_field :bed %>
  </p>
  <p>
    <%= f.label :depdate %><br />
    <%= f.datetime_select :depdate %>
  </p>
  <p>
    <%= f.label :primaryindication %><br />
    <%= f.text_field :primaryindication %>
  </p>
  <p>
    <%= f.label :clinicalsummary %><br />
    <%= f.text_area :clinicalsummary %>
  </p>
  <p>
    <%= f.submit 'Update' %>

<% end %>

<%= link_to 'Show', @admission %> |
<%= link_to 'Patient', patient_path (:id => @admission.patient_id) %>
