<h1>Editing admission</h1>

<% form_for(@admission) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :admdate %><br />
    <%= f.datetime_select :admdate, :end_year => (Date.today.year) %>
  </p>
  <p>
    <%= f.label :ward %><br />
    <%= f.text_field :ward %>
  </p>
  <p>
    <%= f.label :bed %><br />
    <%= f.text_field :bed %>
  </p>
  <p>
    <%= f.label :depdate %><br />
    <%= f.datetime_select :depdate %>
  </p>
  <p>
    <%= f.label :primaryindication %><br />
    <%= f.text_field :primaryindication %>
  </p>
  <p>
    <%= f.label :clinicalsummary %><br />
    <%= f.text_area :clinicalsummary %>
  </p>
  <p>
    <%= f.submit 'Update' %>

<% end %>

<%= link_to 'New note', new_admission_admnote_path (@admission) %> |
<%= link_to 'Notes', admission_admnotes_path (@admission) %> |
<%= link_to 'Destroy', @admission, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Cancel', admission_path  %>
