<h3> Admissions for <%= @patient.fullname %> </h3>
<table>
  <tr>
    <th>Admission date</th>
    <th>Ward</th>
    <th>Discharge</th>
    <th>Primary indication</th>
  </tr> 

<% @admissions.each do |admission| %>
  <tr>
    <td><%=h date_uk (admission.admdate) %></td>
    <td><%=h admission.ward %></td>
    <td><%=h date_uk ( admission.depdate )%></td>

    <td><%=h admission.primaryindication %></td>
    <td><%= link_to 'Show', admission %></td>
    <td><%= link_to 'Edit', edit_admission_path(admission) %></td>
    <!--td><%#= link_to 'Destroy', admission, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New admission', new_patient_admission_path(@patient) %> |

<%= link_to 'Patient', patient_url(@patient) %> 
