<% title "Products" %>
<% form_tag products_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<table>
  <tr>
    <th>Constituents</th>
    <th>Brand</th>
    <th>Pack Size</th>
    <th>Form</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%=h product.agents_description %></td>
      <td><%=h product.brand %></td>
      <td><%=h product.pack_size %></td>
      <td><%=h product.form.form %></td>
      <td><%= link_to "Show", product %></td>
      <td><%= link_to "Edit", edit_product_path(product) %></td>
      <td><%= link_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Product", new_product_path %></p>
